# Create objects, DataFrames and Series in Python using Pandas

## Creating Objects in Python

### Creating a basic object:

In [1]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def bark(self):
        return f"{self.name} says woof!"

# Creating an instance of Dog
my_dog = Dog(name="Buddy", age=5)
print(my_dog.bark())

Buddy says woof!

## Creating a Pandas DataFrame

### Creating a DataFrame from a dictionary:

In [2]:
import pandas as pd

# Creating a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

# Creating a DataFrame
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

### Creating a DataFrame from a list of lists:

In [3]:
# Creating a list of lists
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]

# Creating a DataFrame with column names
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

## Creating a Pandas Series

### Creating a Series from a list:

In [4]:
# Creating a Series from a list
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Creating a Series from a dictionary:

In [5]:
# Creating a dictionary
data = {'a': 10, 'b': 20, 'c': 30}

# Creating a Series from the dictionary
series = pd.Series(data)
print(series)

a    10
b    20
c    30
dtype: int64