# Different Types of Joins in Pandas

In [1]:
import pandas as pd

# Creating example dataframes
df1 = pd.DataFrame({'ID': [1, 2, 3, 4],
                    'Name': ['Alice', 'Bob', 'Charlie', 'David']})

df2 = pd.DataFrame({'ID': [2, 3, 4, 5],
                    'Age': [25, 30, 35, 40]})

## Inner Join

An inner join returns only the rows that have matching keys in both of the joined dataframes. It keeps only the common records between the two dataframes.

In [2]:
# Inner Join: Only common IDs will be retained
inner_join = pd.merge(df1, df2, on='ID', how='inner')
inner_join

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30
2   4    David   35

## Left Outer Join

A left join returns all the rows from the left dataframe and matched rows from the right dataframe. If there's no match, the result will contain null values for the columns of the right dataframe.

In [3]:
# Left Outer Join: All records from df1, matching records from df2
left_join = pd.merge(df1, df2, on='ID', how='left')
left_join

   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  25.0
2   3  Charlie  30.0
3   4    David  35.0

## Right Outer Join

A right join returns all the rows from the right dataframe and  matched rows from the left dataframe. If there's no match, the result will contain null values for the columns of the left dataframe.

In [4]:
# Right Outer Join: All records from df2, matching records from df1
right_join = pd.merge(df1, df2, on='ID', how='right')
right_join

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30
2   4    David   35
3   5      NaN   40

## Full Outer Join or Outer Join

A full outer join returns all rows when there is a match in either of the dataframes. If there is no match, it returns null values for the missing fields from the other dataframe.

In [5]:
# Full Outer Join: All records from both dataframes
outer_join = pd.merge(df1, df2, on='ID', how='outer')
outer_join

   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  25.0
2   3  Charlie  30.0
3   4    David  35.0
4   5      NaN  40.0

## Index Join 

Index join is not a standard term in pandas but you can perform a join using the index of the dataframes.

In [6]:
# Index Join: Using different index values
df1_indexed = df1.set_index('ID')
df2_indexed = df2.set_index('ID')

# Index Join: Using index values
index_join = df1_indexed.join(df2_indexed, how='inner')
index_join

       Name  Age
ID
2       Bob   25
3   Charlie   30
4     David   35